<div class="row">
    <div class="col-md-6">
        <h3>Day 1</h3>
        <table class="table table-striped">
            <tr>
                <td>Before</td>
                <td>
                    <a
                        href="{{ site.pre_survey }}{{ site.github.project_title }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Pre-workshop survey</a
                    >
                </td>
            </tr>
            <tr>
                <td>08:30</td>
                <td>Welcome and Introduction</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/shell-novice/01-intro.html"
                        >Introduction to the Unix Shell</a
                    >
                </td>
            </tr>
            <tr>
                <td>09:45</td>
                <td>Morning break</td>
            </tr>
            <tr>
                <td>10:00</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/git-novice/01-basics.html"
                        >Version Control with Git</a
                    >
                </td>
            </tr>
            <tr>
                <td>11:45</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html"
                        >Introduction to R and RStudio</a
                    >
                </td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/instructor/02-project-intro.html"
                        >Project management</a
                    >
                </td>
            </tr>
            <tr>
                <td>13:45</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1.html"
                        >Data structures in R</a
                    >
                </td>
            </tr>
            <tr>
                <td>14:45</td>
                <td>Afternoon break</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/instructor/05-data-structures-part2.html"
                        >Exploring data frames</a
                    >
                </td>
            </tr>
            <tr>
                <td>15:30</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html"
                        >Data visualization with <code>ggplot2</code></a
                    >
                </td>
            </tr>
            <tr>
                <td>16:30</td>
                <td>END</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Day 2</h3>
        <table class="table table-striped">
            <tr>
                <td>Before</td>
                <td>Come ready to learn!</td>
            </tr>
            <tr>
                <td>08:30</td>
                <td>Recap and setup for day 2 (load gapminder into project)</td>
            </tr>
            <tr>
                <td>09:00</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/12-dplyr.html"
                        >Data wrangling with <code>dplyr</code></a
                    >
                </td>
            </tr>
            <tr>
                <td>10:45</td>
                <td>Morning break</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/13-tidyr.html"
                        >Data frame reshaping with <code>tidyr</code></a
                    >
                </td>
            </tr>
            <tr>
                <td>11:45</td>
                <td>Lunch break</td>
            </tr>
            <tr>
                <td>12:30</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow.html"
                        >Controlling flow with <code>if...else</code>,
                        <code>ifelse()</code>, and <code>for()</code></a
                    >
                </td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>
                    <a
                        href="https://swcarpentry.github.io/r-novice-gapminder/instructor/10-functions.html"
                        >Functions revisited
                    </a>
                </td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>Afternoon break</td>
            </tr>
            <tr>
                <td>14:15</td>
                <td>Worked example with oceanographic data</td>
            </tr>
            <tr>
                <td>16:15</td>
                <td>Wrap-up</td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>
                    <a
                        href="{{ site.post_survey }}{{ site.github.project_title }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Post-workshop Survey</a
                    >
                </td>
            </tr>
            <tr>
                <td>16:10</td>
                <td>END</td>
            </tr>
        </table>
    </div>
</div>
